<div class="header">
  <div class="container">
    <img class="banner" src="https://www.makerobos.com/assets/images/MakerobosLogo.svg">
  </div>
</div>
<div class="body">
  <div class="container">
    <div class="MIW-status" [ngStyle]="{'color': status=='boot'?'green':'red'}">
      Status: {{status=='boot'?"Booted": "Shutdown"}}
    </div>
    <div class="label">
      Action
    </div>
    <div class="button-group" (click)=interectWidget($event)>
      <!-- <button (click)="interectWidget('boot')">Boot</button>
      <button (click)="interectWidget('update')">Update</button>
      <button (click)="interectWidget('show')">Show</button>
      <button (click)="interectWidget('hide')">Hide</button>
      <button (click)="interectWidget('shutdown')">Shutdown</button> -->
      <button class="boot" id="MIW_boot">Boot</button>
      <button class="shutdown" id="MIW_shutdown">Shutdown</button>
      <button  class="update" id="MIW_update">Update</button>
      <button class="show" id="MIW_show">Show</button>
      <button class="show" id="MIW_showMessage">Show Messages</button>
      <button class="show" id="MIW_showNewMessage">Show New Messages</button>
      <button  class="hide" id="MIW_hide" >Hide</button>
    </div>
  </div>
</div>